# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pnpm-lock.yaml
package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
